<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static',filename='icons/covid.ico') }}" type="image/x-icon">
  <title>Covid-19 Journal</title>
</head>

<body>

  <!-- Cabeçalho -->

  <nav class="navbar fixed-top shadow flex-nowrap">
    <div class="container-fluid">

      <div class="conainer-fluid estado">
        <a class="d-inline-flex navbar-brand" data-bs-toggle="offcanvas" href="#estados" role="button"
          aria-controls="estados">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-justify"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
          </svg>
          <span>Estados</span>
        </a>
      </div>

      <a class="navbar-brand titulo" href="{{ url_for('pagina_principal')}}">
        <img src="{{ url_for('static',filename='storage/covid.png') }}" width="30px" height="30px">
        <span>Covid-19 Journal</span>
      </a>

      <div class="pesquisa">
        <form class="d-flex search align-items-center pesquisa" onsubmit="pesquisarNoticia()">

          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="grey" class="bi bi-search m-1"
            viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
          </svg>
          <input class="form-control ms-1" id="search" type="search" placeholder="Pesquisar Notícia" aria-label="search"
            style="border: none;" onkeyup="pesquisarNoticia()"/>

        </form>
      </div>
    </div>
  </nav>

  <!-- Sidebar Estados -->

  <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="estados" aria-labelledby="estadosLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="estadosLabel">Estados</h5>
      <button type="button" class="btn-close-white btn-close text-reset" data-bs-dismiss="offcanvas"
        aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <div class="list-estados">
          <ul>
            <li class="estado-list"><a href="# ">
                Mosrtar Todas
              </a></li>

            {% for item in estados %}
            <li class="estado-list"><a href="{{url_for('state_news', sigla=item.get_sigla())}} ">
                <img src="{{ item.get_flag() }}">
                {{item.get_nome()}}
              </a></li>
            {% endfor %}

          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Sessão principal -->
  <section>

    <!-- Carrossel de destaques -->
    <div id="myCarousel" class="carousel slide shadow" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
          aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">

        {% for item in carrossel %}
        <div class="carousel-item {{'active' if item == carrossel[0]}} c">

          <img src="{{item.get_image()}}" class="new_img">

          <div class="container">
            <div class="carousel-caption text-start">
              <h1>{{item.get_tittle()}}</h1>
              <p>{{item.get_headline()}}</p>
              <p><a class="btn btn-lg btn-primary" href="{{ url_for('show_noticia',id=item.get_id()) }}" role="button">Ver mais</a></p>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
    </div>
    <!-- fim do carrossel -->

    <h1 class="text-center m-3">Principais Noticias</h1>
    <div id="msg"></div>
    <!-- Lista de notícias (dinâmica) -->
    <div class="row flex-row flex-wrap align-content-center m-0 justify-content-center">
      {% for noticia in noticias %}
      {% for item in noticia.get_news_list() %}
      <div class="card m-4 col shadow {{ item.get_state() }}">
        <img src={{ item.get_image() }} class="card-img-top shadow" alt="..."
          style="max-width: 100%; max-height: 200px; border-radius: 5px;">
        <div class="card-body">
          <h5 class="card-title">{{ item.get_tittle() }}</h5>
          <p class="card-text subtitulo">{{item.get_headline()}}</p>
          <a href="{{url_for('show_noticia', id=item.get_id())}}" class="btn btn-sm btn-primary">Ver Mais</a>
        </div>
      </div>
      {% endfor %}
      {% endfor %}
    </div>
    <!-- fim da lista -->
  </section>

  <footer class="d-flex justify-content-center align-items-center shadow py-3">
    <p class="my-2">© 2022 Thiago Cardoso (202120325)</p>
  </footer>

  <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>

  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>
  <script defer src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous">
  </script>
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous">
  </script>
</body>

</html>